<!DOCTYPE html>
<html class="no-js " lang="zh-CN">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="dns-prefetch" href="https://dn-kdt-img.qbox.me/">
  <link rel="dns-prefetch" href="https://img.yzcdn.cn/">
  <link rel="dns-prefetch" href="https://b.yzcdn.cn/">
  <link rel="dns-prefetch" href="https://su.yzcdn.cn/">
  <link rel="dns-prefetch" href="https://h5.youzan.com/v2/">
  <link rel="dns-prefetch" href="https://h5.youzan.com/">
  <meta name="keywords" content="有赞,移动电商服务平台">
  <meta name="description" content="有赞是帮助商家在微信上搭建微信商城的平台，提供店铺、商品、订单、物流、消息和客户的管理模块，同时还提供丰富的营销应用和活动插件。">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="cleartype" content="on">
  <link rel="shortcut icon" href="https://b.yzcdn.cn/v2/image/yz_fc.ico">
  <title>分类</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

</head>

<body class=" " style="">
  <div class="app" id="app">
      <div class="container with-bottom-nav" style="min-height: 667px; height: 667px; padding-top:10px;">

         
          <div class="content" style="height: 617px;">
            <div class="class-nav"style=" padding-top:10px;">
              <div id="scroll-nav" style="height: 100%; ">
                <ul class="nav" id="scroll-nav-content" style="height: 540px; transform: translate3d(0px, 0px, 0px);">
                  <li class="category-name js-category-name " data-cid="-1" 
                  v-for="(list,index) in topList"
                        data-cid="list.id" 
                        
                        v-bind:class="{ active: index===topIndex }"
                        
                        @click='getSubList(list.id,index)'
                  >{{list.name}}</li>
      
                </ul>
              </div>
            </div>
            <div class="class-category"style=" overflow-y: hidden;overflow-x: hidden;">
              <div id="scroll-main-wrap" class="main-content">
                <div id="scroll-main-content" class="js-main-content inner-content" style=" overflow-y: hidden;overflow-x: hidden;height: 523px; transform: translate3d(0px, 0px, 0px); " v-show='topIndex===0'>
                  <div class="hot-wrap">
                    <div class="hot-goods">
                      <div class="hot-title">
                        <p class="pull-left">热销商品榜</p>
                       
                        <a href="https://maijia.youzan.com/mars/rank/hotgoods" class="pull-right icon-right">更多</a>
                      </div>
                      <ul>
                        <li class="goods-item" v-for='list in rank.data.hotGoods'>
                          <a :href="'goods.html?id='+list.id">
                            <div class="thumb badge center-img">
                              <img :src="list.img">
                              <span class="num">{{list.id}}</span>
                            </div>
                            <div class="detail">
                              <div class="title">{{list.name}}</div>
                              <div class="price">￥{{list.price | keppTwoNum}}</div>
                              <div class="recommend">
                                <span>推荐值:</span>
                                <span>{{list.recommend}}</span>
                              </div>
                            </div>
                          </a>
                        </li>

         
                      </ul>
                    </div>
             
                  </div>
                </div>
                <div id="scroll-main-content" class="js-main-content inner-content" style="height: 534px; transform: translate3d(0px, 0px, 0px);" v-show='topIndex!=0&&subList'>
  
                  <h3 class="category-title"> 热门分类  </h3>
                  <ul class="category-content">
                    <li class="category-item js-category-item" :data-item-id="list.id" :data-item-name="list.name" 
                    @click="getSearch(list.name,list.id)"     v-for='list in subList.categoryList' >
                      <img :src="list.img" :alt="list.name" class="category-img">
                      <span class="category-item-name">
                      {{list.name}}            </span>
                    </li>
      
             
            
               
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      <foot></foot>

  </div>

</body>

</html>
